.article {
  margin-top: 100px;
  color: white;
  margin-right: 100px;
}

body {
  background-color: black;
  border-top: white;
}

.main-header {
  background-color: rgba(128, 128, 128, 0.137);
  padding: 10px;
}

.list {
  list-style: none;
  margin-bottom: 50px;
}

.time {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.clock {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
}

a:link {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

a:visited {
  color: white;
  font-weight: bold;
}

a:hover {
  color: red;
  text-decoration: dashed;
}

a:active {
  text-decoration: dashed;
  color: blue;
}

.part-grey {
  background-color: rgba(128, 128, 128, 0.137);
  padding-right: 300px;
}

.aside {
  letter-spacing: 30px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}
